In [2]:
import pandas as pd 
import numpy as np
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer
import re
import ast
import json

ModuleNotFoundError: No module named 'pandas'

In [ ]:
import nltk

In [ ]:
nltk.download('all')

In [ ]:
df1=pd.read_csv('./dataset/movies_metadata.csv',low_memory=False)
df2=pd.read_csv('./dataset/credits.csv',low_memory=False)

In [ ]:
df1.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [ ]:
df2.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [ ]:
def clean(sen):
    text=re.sub('[^0-9]','',sen)
    return text

In [ ]:
df1['id']=df1['id'].apply(clean)

In [ ]:
df1['id']=df1['id'].astype('int64')

In [ ]:
df1=df1.merge(df2,on='id')

In [ ]:
df1.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."

In [ ]:
df1['overview'].fillna('',inplace=True)

In [ ]:
df1['overview'].isna().sum()

0

In [ ]:
corpus=[]
ps=PorterStemmer()
ls=WordNetLemmatizer()

In [ ]:
def cleanData(sen):
    text=re.sub('[^a-zA-Z]',' ',sen)
    text=text.lower()
    text=text.split()
    text=[ls.lemmatize(word) for word in text if not word in stopwords.words('english')]
    sentence=' '.join(text)
    return sentence

In [ ]:
df1['overview']=df1['overview'].apply(cleanData)

In [ ]:
def convert(obj):
    L=[]
    for i in ast.literal_eval(obj):
        if i['name']!=np.nan:
            L.append(i['name'])
    return L

In [ ]:
df1['genres']=df1['genres'].apply(convert)

In [ ]:
df1['cast']=df1['cast'].apply(convert)

In [ ]:
# def convert2(json_string):
#     print(len(json_string))
#     if len(json_string) < 4:
#         return ""
#     print(json_string)
#     fixed_json_string = json_string.replace("'", "\"")
#     print(json_string)
#     data = json.loads(fixed_json_string)
#     print(data)
#     name = data[0]['name']
#     print(name)
#     return name

In [ ]:
# df1['spoken_languages']=df1['spoken_languages'].apply(convert2)

In [ ]:
df1.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,led woody andy toy live happily room andy birt...,...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,False,NaN,65000000,"[Adventure, Fantasy, Family]",NaN,8844,tt0113497,en,Jumanji,sibling judy peter discover enchanted board ga...,...,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[Robin Williams, Jonathan Hyde, Kirsten Dunst,...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[Romance, Comedy]",NaN,15602,tt0113228,en,Grumpier Old Men,family wedding reignites ancient feud next doo...,...,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,False,NaN,16000000,"[Comedy, Drama, Romance]",NaN,31357,tt0114885,en,Waiting to Exhale,cheated mistreated stepped woman holding breat...,...,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,"[Whitney Houston, Angela Bassett, Loretta Devi...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,[Comedy],NaN,11862,tt0113041,en,Father of the Bride Part II,george bank recovered daughter wedding receive...,...,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,"[Steve Martin, Diane Keaton, Martin Short, Kim...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."

In [ ]:
json_string=df1.iloc[1180].spoken_languages

In [ ]:
df1.iloc[0].belongs_to_collection

"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}"

In [ ]:
df1.iloc[0].spoken_languages

"[{'iso_639_1': 'en', 'name': 'English'}]"

In [ ]:
def convert3(json_string):
    if len(json_string) < 3:
        return ""
    fixed_json_string = json_string.replace("'", "\"")
    data = json.loads(fixed_json_string)
    name = str(data['poster_path'])
    print(name)
    return name

In [ ]:
movie_df=df1[['id','original_title','overview','adult','budget','genres','imdb_id','original_language','vote_average','vote_count','cast']][:30000]

In [ ]:
movie_df

,id,original_title,overview,adult,budget,genres,imdb_id,original_language,vote_average,vote_count,cast
0,862,Toy Story,led woody andy toy live happily room andy birt...,False,30000000,"[Animation, Comedy, Family]",tt0114709,en,7.7,5415.0,"[Tom Hanks, Tim Allen, Don Rickles, Jim Varney..."
1,8844,Jumanji,sibling judy peter discover enchanted board ga...,False,65000000,"[Adventure, Fantasy, Family]",tt0113497,en,6.9,2413.0,"[Robin Williams, Jonathan Hyde, Kirsten Dunst,..."
2,15602,Grumpier Old Men,family wedding reignites ancient feud next doo...,False,0,"[Romance, Comedy]",tt0113228,en,6.5,92.0,"[Walter Matthau, Jack Lemmon, Ann-Margret, Sop..."
3,31357,Waiting to Exhale,cheated mistreated stepped woman holding breat...,False,16000000,"[Comedy, Drama, Romance]",tt0114885,en,6.1,34.0,"[Whitney Houston, Angela Bassett, Loretta Devi..."
4,11862,Father of the Bride Part II,george bank recovered daughter wedding receive...,False,0,[Comedy],tt0113041,en,5.7,173.0,"[Steve Martin, Diane Keaton, Martin Short, Kim..."
...,...,...,...,...,...,...,...,...,...,...,...
29995,58128,Andaz Apna Apna,amar prem two rival belonging middle class fam...,False,0,"[Comedy, Drama, Romance]",tt0109117,hi,7.6,51.0,"[Aamir Khan, Salman Khan, Raveena Tandon, Kari..."
29996,21614,Hera Pheri,baburao landlord india near sighted always fin...,False,0,[Comedy],tt0242519,hi,6.4,39.0,"[Akshay Kumar, Sunil Shetty, Paresh Rawal, Tab..."
29997,254320,The Lobster,dystopian near future single people according ...,False,4000000,"[Thriller, Comedy, Drama, Romance, Science Fic...",tt3464902,en,6.7,1340.0,"[Colin Farrell, Rachel Weisz, LÃ©a Seydoux, Joh..."
29998,322766,Beautiful & Twisted,following murder hotel heir ben novack jr poli...,False,0,"[Crime, Drama, Thriller]",tt3881768,en,5.6,32.0,"[Rob Lowe, Paz Vega, Candice Bergen, Seychelle..."
29999,88937,"Abar, the First Black Superman",upon moving bigoted neighborhood scientist fat...,False,0,[Action],tt0122116,en,4.5,1.0,"[Tobar Mayo, J. Walter Smith, Roxie Young, Gla..."

In [ ]:
movie_df.to_csv('movie_df')

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf=TfidfVectorizer(max_features=30000)

In [ ]:
vectors=tf.fit_transform(movie_df['overview']).toarray()

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
similarity=cosine_similarity(vectors)

In [ ]:
similarity.shape

In [ ]:
vectors[0]

In [ ]:
similarity[0]

In [ ]:
def recommend(movie_name):
    idx=movie_df[movie_df['original_title']==movie_name]['id'].values[0]
    similar_movies=sorted(list(enumerate(similarity[idx])),key=lambda x:x[1],reverse=True)

    for movies in similar_movies[0:10]:
        print(movie_df.iloc[movies[0]]['original_title'])

In [ ]:
recommend("Alien")